.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: larger;
}

.links {
  display: flex;
  gap: 15px;
  align-items: center;
}
