.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  display: flex;
  gap: 50px;
}

.footerText {
  font-size: small;
  color: gray;
}

.icon {
  opacity: 0.6;
  cursor: pointer;
}
